html{
    height:100%;
}
body{
    height:100%;
}
footer{
    background: #eaeaea;
    height:140px;
}
nav{
    height: auto;
}
#wrapper{
    background: #666;
    height: auto;
    padding:0px;
}
#page-wrapper{
    padding-bottom: 50px;
}
#mceu_22 {
    display: none;
}
div.navbar-default.sidebar{
    left: 0;
    margin-top: 0;
    right: 0;
}
@media (max-width: 767px){
    ul.nav.navbar-top-links.navbar-right{
	font-size: 85%;
    }
}
